<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
<!--	        		<li><a href="http://www.research.ed.ac.uk/portal/en/persons/alan-gray%28e57944c2-0837-49ad-b21a-058a5cdd2d5f%29/publications.html" target="_blank">Publications</a></li>
-->
	        		<li><a href="https://scholar.google.co.uk/citations?user=RqvO52IAAAAJ&hl=en&oi=ao" target="_blank">Publications</a></li>
https://scholar.google.co.uk/citations?user=RqvO52IAAAAJ&hl=en&oi=ao
	        		<li><a href="https://www.epcc.ed.ac.uk/about/staff/dr-alan-gray" target="_blank">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:a.gray@ed.ac.uk">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
